.cuerpo-principal1 {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.cuerpo-principal2 {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}


.musculacion-abuelo {
    height: 300px;
    width: 320px;
    text-align: center;
}


.musculacion-padre {
    height: 250px;
    width: 300px;
    margin: 10px;
}

.musculacion-hijo {
    width: 100%;
    height: 100%;
}


.boxeo-abuelo {
    height: 300px;
    width: 320px;
    text-align: center;
}


.boxeo-padre {
    height: 250px;
    width: 300px;
    margin: 10px;
}

.boxeo-hijo {
    width: 100%;
    height: 100%;
}



.squash-abuelo {
    height: 300px;
    width: 320px;
    text-align: center;
}


.squash-padre {
    height: 250px;
    width: 300px;
    margin: 10px;
}

.squash-hijo {
    width: 100%;
    height: 100%;
}



.artesmarciales-abuelo {
    height: 300px;
    width: 320px;
    text-align: center;
}


.artesmarciales-padre {
    height: 250px;
    width: 300px;
    margin: 10px;
}

.artesmarciales-hijo {
    width: 100%;
    height: 100%;
}