
header {
    @extend %flex-center-between;
    padding: 10px;
    margin-bottom: 20px;
    background-color: nth($colores,3);
    height: 70px;
    section  {
        display: flex;
        align-items: center;
        p {
            font-size: 40px;
            color: nth($colores,2);
            font-weight: bold;
            font-family:'Times New Roman', Times, serif;
        }
        div {
            border-style: solid;
            border-color: nth($colores,3);
            border-radius: 20px;
            width: 80px;
            height: 50px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    nav {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        width: 400px;
    }
    div {
        @extend %flex-center-between;
        width: 150px;
        div {
            border-style: solid;
            border-color: nth($colores,3);
            border-radius: 30px ;
            width: 50px;
            height: 50px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}












/* Responsive */

*{
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-color: #ECF0F1;
    margin: 0px;
}

@media screen and (width < 480px) {
    .nombregimnasio {
        display: none;
    }
    .logoInicio-padre {
        display: none;
    }
    .logoFinal-padre {
        display: none;
    }

    p {
        font-size: 10px;
    }
    a {
        text-decoration: none;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
    }
    .img-perfil {
        width: 10px;
        height: 10px;
        justify-content: right;
    }
    
    .ingreso-hijo {
        display: none;
    } 
}


@media screen and (width < 480px) {
    .ejercicio {
        display: grid;
        grid-template-columns: 270px;
        grid-template-rows:  repeat(12, 330px);
        grid-template-areas: 
        'video1'
        'video2'
        'video3'
        'video4'
        'video5'
        'video6'
        'video7'
        'video8'
        'video9'
        'video10'
        'video11'
        'video12';
        gap: 50px;
        height: 250vh;
    }  
}