.Horarios {
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Horarios-texto {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
