
section {
    @extend %flex-center-around;
    div {
        height: 300px;
        width: 320px;
        text-align: center;

        div {
            height: 250px;
            width: 300px;
            margin: 10px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}